// Body
$body-bg: #f7f9fc;

$body-color: #274472;

$primary: #003B73;
$secondary: #F8CF40;
$success: #6dd281;
$danger: #FF7878;
$warning: #E6B566;
$info: #7191e9;
$light: #F6F5F5;
$dark: #274472;

$black: #585858;
$white: #fdfdfd;


// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;